$greenColor: rgba(17, 209, 69, 0.9);
$trueGreen : rgba(27, 179, 159, 1);
$greenLessColor : rgba(27, 179, 159, 0.1);
$orange : rgba(255, 127, 39, 0.9);

html, body
{
    min-height: 100%;
}

.videoChapContainer{
    min-height: 90%;
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);

   .mainContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }

   .titleChapitre {
       margin-bottom: 1.5em;
   }

}

.videoContainerCours{

    .startVideoBtn {
        max-width: 300px;
        margin: auto;
        margin-bottom: 0.8em;
        font-size: 14px;
        font-weight: 650;
        }

    .controllersVideo {
        text-align: center;
        margin-bottom: 0.5em;
    }

    .videoCours{
        width: 500px;
        margin: auto;

        video
        {
            border-radius: 15px;
            
        }
    }
}

.backMenu {
    margin-bottom: 1em;
}

.ctrlBtn {
    height: auto;
}

.webCam
{
    margin: auto;
}

.webCamContainer{
    display: flex;
    flex-direction: column;

    video {
        border-radius: 10px;
    }

    button {
        max-width: 300px;
        margin: auto;
        margin-top: 1em;
    }
}

.formContainer
{
    display: flex;
    justify-content: center;

  
}


@media screen and (max-width: 500px) {

    html {
        background-color: rgba(255, 255, 255, 0.9);
        height: 100%;
    }
    #root {
        
    }
   
    .videoChapContainer{
        border-radius: 3px;

        .videoCours{
            width: 300px;
            
                .react-player {
                    width: 300px!important;
                }
        
        }

        .webCamContainer{
            width: 300px;
            margin-bottom: 6em;
            video {
                width: 300px;
            }
        }


    }
}