form {

    max-width: 400px;
    margin: auto;

    p{
        display: flex;
        flex-direction: column;
        
        .btnSubmit{
            height: auto!important;
        }

        .inputFile
        {
            display: none;
            font-size: 1px;
        }
        input {
            margin-top: 0.7em;    
            height: 25px;
            border-radius: 5px;
        }
    }
}